<!DOCTYPE html>
<html>
	<head>
		<title>Edit Inventory Item</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<div class="header">
      <p>INVENTORY MANAGEMENT APP</p>
    </div>

    <div class="container">
      <h3>Edit Inventory Item</h3>
      <form method="POST" action="/edit/<%= id %>">

        <input type="text" name="name" value="<%= item.name %>" placeholder="Name" />

        <input type="text" name="description" value="<%= item.description %>" placeholder="Description" />

        <input type="text" name="serialno" value="<%= item.serialno %>" placeholder="Serial No"/>

        <input type="text" name="serialcode" value="<%= item.serialcode %>" placeholder="Serial Code"/>

        <input type="text" name="date" value="<%= item.date %>" placeholder="Date (dd/mm/yyyy)"/><br/>

        <input class="button" type="submit" value="Update Item">

      </form>
    </div>
	</body>
</html>